.container .text{
    position: relative;
    color: #6DC200;
    font-size: 60px;
    font-weight: 600;
    margin: auto;
}
.container .text.first-text{
    color: white;
}
.text.sec-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    animation: animate 4s steps(12) infinite;
    background-color: #1B1B1B;
}
@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}